
.license-container {
    margin: 20px;
    padding: 35px;
    background: #fff;
    border-radius: 4px
}

.license-container .license-field {
    display: block;
    margin-bottom: 15px
}

.license-container .license-field input {
    font-size: 200%;
    padding: 8px 10px 10px
}

.license-container .notice-error, .license-container div.error {
    background: rgba(220, 50, 50, .11);
    margin: 0
}

.license-container .license-title {
    margin-top: 0;
    font-size: 30px
}

.license-container .license-info li {
    list-style: none;
    padding: 0
}

.license-container .license-info-title {
    width: 150px;
    display: inline-block;
    position: relative;
    padding-right: 5px
}

.license-container .license-info-title:after {
    content: ":";
    position: absolute;
    right: 2px
}

.license-container .license-valid, .license-container .license-invalid {
    padding: 0 5px 2px;
    color: #fff;
    background-color: #8fcc77;
    border-radius: 3px
}

.license-container .license-invalid {
    background-color: #f44336
}

.license-container .license-key {
    font-weight: 700;
    opacity: .8
}

.license-container .green-btn {
    padding: 0 5px 2px;
    color: #fff;
    background-color: #8fcc77;
    border-radius: 3px;
    text-decoration: none;
    -webkit-box-shadow: 0 0 3px -1px rgba(0, 0, 0, .38);
    -moz-box-shadow: 0 0 3px -1px rgba(0, 0, 0, .38);
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, .38)
}

.license-container .green-btn:hover {
    color: #fff;
    background-color: #84bc6c
}

.license-container .blue-btn {
    padding: 0 5px 2px;
    color: #fff;
    background-color: #20b1d2;
    border-radius: 3px;
    text-decoration: none;
    -webkit-box-shadow: 0 0 3px -1px rgba(0, 0, 0, .38);
    -moz-box-shadow: 0 0 3px -1px rgba(0, 0, 0, .38);
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, .38)
}

.license-container .blue-btn:hover {
    color: #fff;
    background-color: #219dbf
}

.license-container .license-field label {
    display: block;
    margin-bottom: 5px
}

.license-container .license-active-btn {
    margin-top: 25px
}

/*
.alignright {
	display: none;
}
*/

.img-panel-info {
    width: 100%;
}

.img-cover-info {
    width: 20%;
}

.lite {
    color: blue;
    font-weight: bold;
}

.premium {
    color: #36940f;
    font-weight: bold;
}

.help-style {
    color: #b12222;
    font-weight: bold;
}
