
#login #nav {
    background-color: #ffffff;
    margin:0;
    border: 0;
    height: 40px;
}

#login #backtoblog {
    background-color: #ffffff;
    margin:0;
    border: 0;
    height: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.privacy-policy-page-link {
    background-color: #ffffff;
    margin:10px 0 20px 0 !important;
    border: 0;
    border-radius: 5px;
    padding: 10px 0 0 0;
    height: 30px;
}

.login form {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 0;
}