/**
 * 
 * @author: NewfieSoft
 * @Plugin name: My Style Anytime 
 * @URL: https://newfiesoft.com/wp-plugins/my-style-anytime/
 * 
 *  
 * This is style for rules Editor
 *
 * @Rules: Editor
 *
 * @Plugin style name: WordPress
 * @URL: https://wordpress.org/support/article/roles-and-capabilities/
 * 
 */

/* To import visitor style in this user @Rules type
@import "visitor-style.css";
 */

/*#########################################################################*/


/*=== Back Styles ===*/

#wpadminbar {
    background-color: #31c1a0 !important;
}


/*#########################################################################*/


/*=== Front Styles ===*/

/* Standard WordPress User rules style example */

.hello-administrator {
    display: none;
}

.hello-editor {
    text-align: center;
    font-size: 36px;
}

.hello-author {
    display: none;
}

.hello-contributor {
    display: none;
}

.hello-subscriber {
    display: none;
}

.hello-visitor {
    display: none;
}

/* WooCommerce User rules style example */

.hello-shop-manager {
    display: none;
}

.hello-customer {
    display: none;
}

/* Loco Translate User rules style example */

.hello-translator {
    display: none;
}

/* Yoast SEO User rules style example */

.hello-seo-manager {
    display: none;
}

.hello-seo-editor {
    display: none;
}

/* YITH Affiliates User rules style example */

.hello-affiliates {
    display: none;
}

/*#########################################################################*/

/*=== Start Responsive configurations for this rules user type ===*/

/*=| ##### Desktop screen resolution ##### |=*/

@media only screen and (max-width: 2560px) {


}

/* End media max-width: 2560px */


@media only screen and (max-width: 1920px) {


}

/* End media max-width: 1920px */


@media only screen and (max-width: 1600px) {


}

/* End media max-width: 1600px */


@media only screen and (max-width: 1536px) {


}

/* End media max-width: 1536px */


@media only screen and (max-width: 1440px) {


}

/* End media max-width: 1440px */


@media only screen and (max-width: 1366px) {


}

/* End media max-width: 1366px */


@media only screen and (max-width: 1280px) {


}

/* End media max-width: 1280px */


@media only screen and (max-width: 1080px) {


}

/* End media max-width: 1080px */


/*=| ##### Tablet screen resolution ##### |=*/


@media only screen and (max-width: 962px) {


}

/* End media max-width: 962px */


@media screen and (max-width: 820px) {


}

/* End media max-width: 820px */


@media only screen and (max-width: 810px) {


}

/* End media max-width: 810px */


@media only screen and (max-width: 800px) {


}

/* End media max-width: 800px */


@media only screen and (max-width: 768px) {


}

/* End media max-width: 768px */


@media only screen and (max-width: 601px) {


}

/* End media max-width: 601px */


/*=| ##### Mobile screen resolution ##### |=*/


@media only screen and (max-width: 414px) {


}

/* End media max-width: 414px */


@media only screen and (max-width: 412px) {


}

/* End media max-width: 412px */


@media only screen and (max-width: 393px) {


}

/* End media max-width: 393px */


@media only screen and (max-width: 390px) {


}

/* End media max-width: 390px */


@media only screen and (max-width: 360px) {


}

/* End media max-width: 390px */


/*=== End Responsive configurations for this rules user type ===*/

/*#########################################################################*/